#header {
  padding: rem(40) 0;
  position: relative;
  z-index: 999;

  @include md-down {
    padding: rem(20) 0 0 0;
  }

  .container {
    max-width: rem(1000);
    text-align: center;

    @include md-down {
      text-align: left;
    }
  }
}
